<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>地图点击事件</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=40ce221408465906f2db94a981e54a87"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
</head>
<style>
.lft_div{
	padding-top: 50px;
}

.lft_div div{
	width: 500px;
	height: 60px;
}

.lft_div input{
	width: 350px;
	height: 35px;
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	padding-left: 5px;
}

.lft_div lable{
	padding-right: 15px;
}
</style>
<body style="display: flex;">
<div  style="width: 30%;" class="lft_div">
	  <div>
			  设置车速和方向等，然后鼠标在右边点击取点测试<br/>
			  取的点有先后顺序之分，注意！！！
	  </div>
      <div><lable>行车速度:</lable><input type="text" name="speed" id="speed"/></div>
	  <div><lable>行车方向:</lable><input type="text" name="direction" id="direction"/></div>
</div>
<div  style="width: 70%;">
	<div id="container" style="position: inherit;"></div>
	<div id="tip" onclick="showTxt()">复制提取到的点</div>
</div>
<div>
	<div id="container" style="position: inherit;"></div>
	<div id="tip" onclick="showTxt()">复制提取到的点</div>
</div>

<script type="text/javascript">
    var tm='';
    var map = new AMap.Map("container", {
        resizeEnable: true,
        zoom: 18,
        center: [116.502803,39.966839]
    });
    map.on('click', function(e) {
		//console.log(e);
    	tm+='['+e.lnglat.getLng()+','+e.lnglat.getLat()+'],';
		var p = new AMap.Marker({
			icon : "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
			position : [e.lnglat.getLng(),e.lnglat.getLat()]
		});
		p.setMap(map);
    });
    function showTxt(){
    	alert(tm);
    }
</script>
<script type="text/javascript" src="./jQuery-2.1.4.min.js"></script>
<script type="text/javascript" src="./demo.js"></script>
</body>
</html>