#同一个机器启用多个实例，可以这样搞#
socket = /tmp/mysql.sock
pid-file = /data/mysql/mysql.pid



skip-name-resolve
back_log = 600
max_connections = 1000
max_connect_errors = 6000 #防止连接尝试攻击

open_files_limit  #能打开的文件，收系统限制的


GRANT ALL PRIVILEGES ON *.* TO root@"%" IDENTIFIED BY "root";
update user set password = password('1111111') where User='root';
select host,user,password  from user where User='root';


show status like 'socket';
show variables like 'table_open_cache';
show engine innodb status\G;

